<html>
  <head>
    <title>Ruby Best Practices - Blog</title>

    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://blog.rubybestpractices.com/feed.xml">
    <link href="/styles.css", rel="stylesheet", type="text/css">
    <!--[if lte IE 6]>
    <link rel="stylesheet" type="text/css" href="/ie6.css" media="screen,projection" />
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <div id="header">
        <h1><a href="http://blog.rubybestpractices.com">Ruby Best Practices</a></h1>
        <h2 class="tagline">Increase Your Productivity -- Write Better Code</h2>
     </div>
     <div id="content">
       <div id="main">
        <%= yield %>
      </div>

      <div id="navbar">
        <div id="about">
          <div align="center">
          <% Korma::Blog.authors.to_a[0..3].each do |_,a| %>
            <a href="<%= a.index_uri %>" title="<%= a.name %>"><img src="<%= a.gravatar(40) %>" alt="<%= a.name %>"></a>
          <% end %>
          <br/>
          <% Korma::Blog.authors.to_a[4..-1].each do |_,a| %>
            <a href="<%= a.index_uri %>" title="<%= a.name %>"><img src="<%= a.gravatar(40) %>" alt="<%= a.name %>"></a>
          <% end %>
          <p>About: <a href="/about">blog</a> |
          <a href="http://rubybestpractices.com">book</a> 
        </div>
          </div>
        </div>
      </div>

    </div>

    <div id="footer">
      <div id="meta">
        <p>All content is under Copyright (C) 2009 by the individual authors of this blog and is hereby released under the <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Attribution-Noncommercial-Share Alike 3.0 Unported</a> license.<br/>If you have any questions, please contact the author of the material you are interested in using.</p>

        <p>If you enjoy reading this blog, you might also like to read the <a href="http://rubybestpractices.com">Ruby Best Practices</a> book, by Gregory Brown.</p>
      </div>
    </div>
  </div>

  <link type="text/css" rel="stylesheet" href="/SyntaxHighlighter.css"></link>
  <script language="javascript" src="/scripts/shCore.js"></script>
  <script language="javascript" src="/scripts/shBrushRuby.js"></script>
  <script language="javascript">
  dp.SyntaxHighlighter.ClipboardSwf = '/scripts/clipboard.swf';
  dp.SyntaxHighlighter.HighlightAll('code');
  </script>
    
  </body>
</html>
