<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Practicing Ruby - <%= @post ?  @post.title.gsub( %r{</?[^>]+?>}, '' ) : "Blog" %></title>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://blog.rubybestpractices.com/feed.xml">
    <link href="/styles.css", rel="stylesheet", type="text/css">
    <!--[if lte IE 6]>
    <link rel="stylesheet" type="text/css" href="/ie6.css" media="screen,projection" />
    <![endif]-->
  <script type="text/javascript">
  if(top.location != location) {
    top.location.href = document.location.href;
  }
  </script>
    
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-2193841-6");
  pageTracker._trackPageview();
  } catch(err) {}</script>  
  </head>
  <body>
    <div class="wrapper">
      <div id="header">
        <h1><a href="http://blog.rubybestpractices.com">Practicing Ruby</a></h1>
        <h2 class="tagline">Solve Interesting Problems -- Write Better Code</h2>
     </div>
     <div id="content">
       <div id="main">
        <%= yield %>
      </div>

      <div id="navbar">
        <div id="about">
          <div align="center">
          <% Korma::Blog.authors.each do |_,a| %>
            <% next if a.guest %>
            <a href="<%= a.bio_uri %>" title="<%= a.name %>"><img src="<%= a.gravatar(40) %>" alt="<%= a.name %>"></a>
          <% end %>
          <p><a href="/about">about us</a> |
          <a href="http://rubybestpractices.com">book</a>  |
          <a href="http://twitter.com/rubypractices">twitter</a></p>
          <p>Disqus eating your code?<br/>Try pasting through <a href="http://blog.rubybestpractices.com:3000/code">this tool.</a></p>
<p><a href="http://feeds2.feedburner.com/RubyBestPractices"><img src="http://feeds2.feedburner.com/~fc/RubyBestPractices?bg=99CCFF&amp;fg=444444&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a></p>
        </div>
          </div>
        </div>
      </div>

    </div>

    <div id="footer">
      <div id="meta">
        <p>All content is under Copyright (C) 2009 by the individual authors of this blog and is hereby released under the <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Attribution-Noncommercial-Share Alike 3.0 Unported</a> license.<br/>If you have any questions, please contact the author of the material you are interested in using.</p>

        <p>If you enjoy reading this blog, you might also like to read the <a href="http://rubybestpractices.com">Ruby Best Practices</a> book, by Gregory Brown.</p>
      </div>
    </div>
  </div>

  <link type="text/css" rel="stylesheet" href="/SyntaxHighlighter.css"></link>
  <script language="javascript" src="/scripts/shCore.js"></script>
  <script language="javascript" src="/scripts/shBrushRuby.js"></script>
  <script language="javascript">
  dp.SyntaxHighlighter.ClipboardSwf = '/scripts/clipboard.swf';
  dp.SyntaxHighlighter.HighlightAll('code');
  </script>
  </body>
</html>
