<h1> <a href="<%= @author.bio_uri %>" ><%= @author.name %></a>'s Posts ( <a href = "<%= @author.feed_uri %>" >feed</a>) </h1>

<% @entries.each do |e| %>
  <h3><a href = '<%= e.url%>' ><%= e.title %></h3></a>

<span><%= e.description %></span>

<p>
<em><%= e.published_date.strftime("%Y-%m-%d %H:%M") %></em>
</p>
<% end %>
