<h1> <a href="<%= @author.bio_uri %>" ></a> <%= @author.name %>'s Posts ( <a href = "<%= @author.feed %>" >feed</a>) </h1>

<% @entries.each do |e| %>
<h3><%= e.title %></h3>

<span><%= e.description %></span>

<p>
<em><%= e.published_date.strftime("%Y-%m-%d %H:%M") %> <a href = '<%= e.url%>' >Continue Reading</a></em>
</p>
<% end %>
