<h2>All Posts (<a href = "/feed.xml">feed</a>) </h2>

<% @entries.each do |e| %>

  <hr/> 
  <h3><a href='<%= e.url %>'><%= e.title %></a></h3>
  <span><%= e.description %></span>
  <p> <em> <%= e.published_date.strftime("%Y-%m-%d %H:%M") %> by  <a href= '<%= e.author.index_uri %>'><%= e.author.name  %></a></em> 
   (<a href="<%= e.url %>#disqus_thread">View Comments</a>) </p>

<% end %>

<script type="text/javascript">
//<![CDATA[
(function() {
		var links = document.getElementsByTagName('a');
		var query = '?';
		for(var i = 0; i < links.length; i++) {
			if(links[i].href.indexOf('#disqus_thread') >= 0) {
				query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
			}
		}
		document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/rbp-blog/get_num_replies.js' + query + '"></' + 'script>');
	})();
//]]>
</script>

